h3:first-child{
    color:pink;
}
p[id="greycol"]{
    color:grey;
}
div:nth-child(5) > p{
    color:red;
}
p:nth-child(7){
    color:green;
}
.yellow{
    color:yellow;
}
h2:first-child {
    color:green;
}
h2:hover[id="gcol"]{
    background-color: #F89B4D;
}
.Th{
   color:red; 
}
h2:nth-child(5){
    color:purple;
}
h2:nth-child(7){
    color:rgb(126, 128, 0);
}